<div id="<%= dom_id tenant %>">
  <p>
    <strong>Name:</strong>
    <%= tenant.name %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= tenant.rg %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= tenant.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tenant.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tenant.phone %>
  </p>

  <p>
    <strong>Authorize wpp:</strong>
    <%= tenant.authorize_wpp %>
  </p>

  <p>
    <strong>Moving date:</strong>
    <%= tenant.moving_date %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= tenant.company_name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= tenant.contact %>
  </p>

  <p>
    <strong>End moving date:</strong>
    <%= tenant.end_moving_date %>
  </p>

  <p>
    <strong>Company phone:</strong>
    <%= tenant.company_phone %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= tenant.contact_name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= tenant.cnpj %>
  </p>

  <p>
    <strong>Residents:</strong>
    <div id="residents">
      <% tenant.residents.each do |resident| %>
      <%= resident.name %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Vehicles:</strong>
    <div id="vehicles">
      <% tenant.vehicles.each do |vehicle| %>
      <%= vehicle.license_plate %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Pets:</strong>
    <div id="pets">
      <% tenant.pets.each do |pet| %>
      <%= pet.name %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Employees:</strong>
    <div id="employees">
      <% tenant.employees.each do |employee| %>
      <%= employee.name %>
    <% end %>
    </div>
  </p>

</div>
