<div id="<%= dom_id employee %>">
  <p>
    <strong>Tenant:</strong>
    <%= employee.tenant_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= employee.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= employee.role %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= employee.shift %>
  </p>

</div>
