<div id="<%= dom_id owner %>">
  <p>
    <strong>Name:</strong>
    <%= owner.name %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= owner.rg %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= owner.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= owner.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= owner.phone %>
  </p>

  <p>
    <strong>Authorized wpp:</strong>
    <%= owner.authorized_wpp %>
  </p>

  <p>
    <strong>Apartments:</strong>
    <div id="apartments">
      <% owner.apartments.each do |apartment| %>
      <%= apartment.number %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Residents:</strong>
    <div id="residents">
      <% owner.residents.each do |resident| %>
      <%= resident.name %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Vehicles:</strong>
    <div id="vehicles">
      <% owner.vehicles.each do |vehicle| %>
      <%= vehicle.license_plate %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Pets:</strong>
    <div id="pets">
      <% owner.pets.each do |pet| %>
      <%= pet.name %>
    <% end %>
    </div>
  </p>

  <p>
    <strong>Employees:</strong>
    <div id="employees">
      <% owner.employees.each do |employee| %>
      <%= employee.name %>
    <% end %>
    </div>
  </p>

</div>
