<p style="color: green"><%= notice %></p>

<h1>Owners</h1>

<%= form_tag owners_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="owners">
  <% @owners.each do |owner| %>
    <%= render owner %>
    <p>
      <%= link_to "Show this owner", owner %>
    </p>
  <% end %>
</div>

<%= link_to "New owner", new_owner_path %>
