<div id="<%= dom_id pet %>">
  <p>
    <strong>Tenant:</strong>
    <%= pet.tenant_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= pet.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Specie:</strong>
    <%= pet.specie %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= pet.color %>
  </p>

</div>
