<div id="<%= dom_id emergency %>">
  <p>
    <strong>Tenant:</strong>
    <%= emergency.tenant_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= emergency.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= emergency.name %>
  </p>

  <p>
    <strong>Parentage:</strong>
    <%= emergency.parentage %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= emergency.contact %>
  </p>

</div>
