<div> <%= link_to "Condominia Page", condominia_path %> </div>

<div> <%= link_to "Owners Page", owners_path %> </div>

<div> <%= link_to "Tenants Page", tenants_path %> </div>

<div> <%= link_to "Apartments Page", apartments_path %> </div>

<div> <%= link_to "Residents Page", residents_path %> </div>

<div> <%= link_to "Vehicles Page", vehicles_path %> </div>

<div> <%= link_to "Pets Page", pets_path %> </div>

<div> <%= link_to "Employees Page", employees_path %> </div>

<div> <%= link_to "Emergencies Page", emergencies_path %> </div>
