<div id="<%= dom_id resident %>">
  <p>
    <strong>Owner:</strong>
    <%= resident.owner_id %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= resident.tenant_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= resident.name %>
  </p>

  <p>
    <strong>Parentage:</strong>
    <%= resident.parentage %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= resident.birthday %>
  </p>

</div>
