<div id="<%= dom_id apartment %>">
  <p>
    <strong>Rented:</strong>
    <%= apartment.rented %>
  </p>

  <p>
    <strong>Block:</strong>
    <%= apartment.block %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= apartment.number %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= apartment.owner_id %>
  </p>

</div>
